.board {
    display: grid;
    grid-template-columns: auto auto 1fr;
    background-color: #2196F3;
    padding: 3%;
    margin: 0%;
    align-items: stretch;
}
.cell {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 0%;
    padding: 0%;
    font-size: 30px;
    text-align: center;
    height: 8.5em;
    width: 8.5em;
}